{% extends 'layout.html' %}
{% load staticfiles %}

{% block title %}<title>JNGHN</title>{% endblock %}

{% block picture %}
<div style="height: 300px;">
    <img src="{% static 'image/background3.jpg' %}" class="img large-view" style="height: 300px;">
</div>
{% endblock %}

{% block content %}
<div class="mt-4">
    <div class="d-flex flex-wrap mb-2 ">
        <div class="flex-fill">
            <a href="{% url 'app_notice:index' %}" class="h2 my-auto">Notice</a>
            <div class="border rounded p-3">
                {% if not notice_list %}
                <p class="text-center">Not Exist</p>
                {% else %}
                <table class="table table-responsive-md table-borderless table-sm>
                  {% for notice in notice_list %}
                  <tr>
                    <td class="w-25"><i class="fa fa-user"></i> {{ notice.author}}</td>
                    <td class="w-50">{{ notice.content}}</td>
                    <td class="w-25">{{ notice.created|date:"Y. m. d. H:i"}}</td>
                  </tr>
                  {% endfor %}
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
