{% extends 'layout.html' %}

{% block title %}<title>About Jeonghoon</title>{% endblock %}

{% block content %}
<div class="large-view my-3">
    <span class="h2">About Jeonghoon</span>
</div>
<div class="border rounded p-3">
    <div class="d-flex flex-wrap mb-1">
        <div><input class="form-control flex-text cursor-default text-center" value="이름" readonly></div>
        <div class="flex-fill">
            <input class="form-control flex-text cursor-default bg-white text-center" value="유정훈 (Yu Jeonghoon)" readonly>
        </div>
    </div>
    <div class="d-flex flex-wrap mb-1">
        <div><input class="form-control flex-text cursor-default text-center" value="" readonly></div>
        <div class="flex-fill">
            <input class="form-control flex-text cursor-default bg-white text-center" value="유정훈 (Yu Jeonghoon)" readonly>
        </div>
    </div>
    <div class="d-flex flex-wrap mb-1">
        <div><input class="form-control flex-text cursor-default text-center" value="이름" readonly></div>
        <div class="flex-fill">
            <input class="form-control flex-text cursor-default bg-white text-center" value="유정훈 (Yu Jeonghoon)" readonly>
        </div>
    </div>
</div>
{% endblock %}