{% extends 'layout.html' %}

{% block title %}<title>Free Talk : {{ freetalk.title }}</title>{% endblock %}

{% block content %}
<nav class="nav nav-tabs my-3">
    <a href="#content" class="nav-item nav-link text-dark {{ content }}" id="content-tab" data-toggle="tab">Content</a>
    <a href="#comment" class="nav-item nav-link text-dark {{ comment }}" id="comment-tab" data-toggle="tab">Comment</a>
</nav>
<div class="tab-content">
    <div class="tab-pane fade show {{ content }}" id="content">
        <div class="border rounded p-3">
            <div class="d-flex flex-wrap mb-1">
                <div><input class="form-control text-center" value="Title" readonly></div>
                <div class="flex-fill">
                    <input class="form-control text-center bg-white" value="{{ freetalk.title }}" readonly>
                </div>
            </div>
            <div class="d-flex flex-wrap mb-1">
                <div><input class="form-control text-center" value="Author" readonly></div>
                <div class="flex-fill"><a class="form-control text-center bg-white" href="{% url 'app_user:profile' freetalk.author %}">{{ freetalk.author }}</a></div>
                <div><input class="form-control text-center" value="Created" readonly></div>
                <div class="flex-fill"><input class="form-control text-center bg-white" value="{{ freetalk.created | date:'Y. m. d. H:i'}}" readonly></div>
            </div>
            <div class="dropdown-divider"></div>
            <div class="bg-white border rounded p-3" style="overflow:hidden; word-wrap:break-word;">{{ freetalk.content }}</div>
        </div>
    </div>

    <div class="tab-pane fade show {{ comment }}" id="comment">
        <div class="border rounded p-3">
            {% for comment in freetalk.commentfree_set.all %}
            <div class="d-flex mb-3">
                <div class="border p-2 rounded">
                  <a class="cursor-pointer dropdown" role="button" data-toggle="dropdown">
                      <span><i class="fa fa-user"></i> {{ comment.author }}</span>
                  </a>
                  {% if comment.author != user and not comment.author.jnghner in user.jnghner.friend.all %}
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'app_user:friend_register' comment.author %}" style="font-size:0.7rem;">Add a Friends</a>
                  </div>
                  {% endif %}
                </div>
                <div class="my-auto">
                    <span class="mx-3">{{ comment.content }}</span>
                    <small class="">{{ comment.created | date:"Y. m. d H:i" }}</small>
                </div>
            </div>
            {% endfor %}
            <div class="dropdown-divider"></div>
            {% if user.is_authenticated %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <textarea name="content" class="form-control"></textarea>
                    <button type="submit" class="btn" name="button" value="comment"><i class="fa fa-pen"></i></button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>

<div class="d-flex my-3">
    <div class="ml-auto">
        {% if freetalk.author == user or request.user.is_superuser %}
        <a class="btn text-dark border" href="{% url 'app_freetalk:edit' freetalk.id %}"><i class="fa fa-pen"></i></a>
        <a class="btn text-dark border" href="{% url 'app_freetalk:delete' freetalk.id %}"><i class="fa fa-trash-alt"></i></a>
        {% endif %}
        <a class="btn text-dark border" href="{% url 'app_freetalk:index' %}"><i class="fa fa-sign-out-alt"></i></a>
    </div>
</div>
{% endblock %}
