{% extends 'layout.html' %}

{% block content %}
<div class="border large-view p-3 mt-5">
    <p class="h2 text-center">이용 준비중이거나 권한이 없습니다.</p>
    <div class="d-flex flex-wrap mt-4">
        <div class="ml-auto">
            {% if not user.is_authenticated %}
            <a href="{% url 'app_user:login' %}" class="btn bg-login text-dark">Login</a>
            {% endif %}
            <a href="{% url 'app_main:index' %}" class="btn bg-main text-dark">Home</a>
        </div>
    </div>
</div>
{% endblock %}
