{% extends 'layout.html' %}

{% block title %}<title>Confirm Password</title>{% endblock %}

{% block content %}
<div class="large-view border rounded p-3" style="margin-top: 2%;">
    <form action="" method="post">
        {% csrf_token %}
        <div class="large-view text-center">
            해당 게시물은 비밀번호가 걸려 있습니다. 이 게시물을 보시려면 설정한 비밀번호를 입력해주시기 바랍니다.
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control auto-select" name="password" id="password">
        </div>
        <input type="submit" class="form-control bg-login cursor-pointer" value="OK">
    </form>
</div>
<div class="d-flex flex-wrap mt-2">
    <button  class="btn border bg-cancel ml-auto button-go-back">Go Back</button>
</div>
{% endblock %}