{% extends 'layout.html' %}

{% block title %}<title>Profile : {{ user.username }}</title>{% endblock %}

{% block content %}
<nav class="nav nav-tabs">
    <a href="#outline" class="nav-item nav-link text-dark active" data-toggle="tab">Outline</a>
    <a href="#friend" class="nav-item nav-link text-dark" data-toggle="tab">Friends</a>
</nav>
<div class="tab-content">
    <div class="tab-pane fade show active" id="outline">
        <div class="border rounded p-3 my-3">
            <input class="form-control text-center bg-dark text-white" value="Information" readonly>
            <div class="d-flex flex-wrap">
                <div><input class="form-control text-center" value="Name" readonly></div>
                <div class="flex-fill">
                    <input class="form-control text-center bg-white" value="{{ user_o.first_name }}" readonly>
                </div>
            </div>
            <div class="d-flex flex-wrap">
                <div><input class="form-control text-center" value="E-Mail" readonly></div>
                <div class="flex-fill">
                    <input class="form-control text-center bg-white" value="{{ user_o.email }}" readonly>
                </div>
            </div>
            <div class="d-flex flex-wrap">
                <div><input class="form-control text-center" value="Join Date" readonly></div>
                <div class="flex-fill">
                    <input class="form-control text-center bg-white" value="{{ user_o.date_joined | date:'Y. m. d. H:i' }}" readonly>
                </div>
            </div>
        </div>
        {% if user_o == user %}
        <div class="d-flex flex-wrap">
            <a href="{% url 'app_user:edit' %}" class="btn bg-main ml-auto text-dark">Edit...</a>
            <a href="{% url 'app_user:leave' user.username %}" class="btn bg-cancel">Leave...</a>
        </div>
        {% else}
        <div class="d-flex flex-wrap">
            <a href="{% url 'app_user:edit' %}" class="btn bg-main ml-auto btn-go-back">Back</a>
        </div>
        {% endif %}
    </div>

    <div class="tab-pane fade" id="friend">
        <div class="border rounded p-3 my-3">
            <input class="form-control text-center bg-dark text-white" value="Friends" readonly>
            <table class="table">
              <tr class="text-center">
                <th>No</th>
                <th>Name</th>
              </tr>
              {% for friend in user.jnghner.friend.all %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td><a href="{% url 'app_user:profile' friend.user %}">{{friend.user}}</a></td>
              </tr>
              {% endfor %}
            </table>
            <div class="d-flex flex-wrap">
                <div><input class="form-control text-center" value="Name" readonly></div>
                <div class="flex-fill">
                    <input class="form-control text-center bg-white" value="{{ user.first_name }}" readonly>
                </div>
            </div>
            <div class="d-flex flex-wrap">
                <div><input class="form-control text-center" value="E-Mail" readonly></div>
                <div class="flex-fill">
                    <input class="form-control text-center bg-white" value="{{ user.email }}" readonly>
                </div>
            </div>
            <div class="d-flex flex-wrap">
                <div><input class="form-control text-center" value="Join Date" readonly></div>
                <div class="flex-fill">
                    <input class="form-control text-center bg-white" value="{{ user.date_joined | date:'Y. m. d. H:i' }}" readonly>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="heart">
        <div class="border rounded p-3 my-3">
        </div>
    </div>
</div>
{% endblock %}
