{% extends 'base.html' %}

{% block title %}<title>Create account</title>{% endblock %}

{% block content %}
<div class="text-center mx-auto my-3 bg-main rounded p-3">
    <a class="h1" href="{% url 'app_main:index' %}" style="text-decoration: none;">J N G H N</a>
</div>
<div class="container border rounded mb-4 thin-view">
    <div class="alert alert-primary mt-3 text-center" role="alert" id="message">Nice to Meet you!</div>

    <form action="" method="post" class="mt-3">
        {% csrf_token %}
        <div class="form-group">
            <label class="font-weight-bold">Your Name</label>
            <input type="text" class="form-control auto-select" name="name">
        </div>
        <div class="form-group">
            <label class="font-weight-bold">Your Email</label>
            <input type="email" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label class="font-weight-bold">Username</label>
            <div class="input-group">
                <input class="form-control" type="text" name="username">
                <div class="input-group-append">
                    <button type="button" class="btn bg-main check_username">
                        <i class="fa fa-user"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="font-weight-bold">Password</label>
            <div class="input-group">
                <input type="password" class="form-control password" name="password">
                <div class="input-group-append">
                    <span class="input-group-text input-password"><i></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="font-weight-bold">Confirm Password</label>
            <div class="input-group">
                <input type="password" class="form-control re-password" name="password">
                <div class="input-group-append">
                    <span class="input-group-text input-re-password"><i></i></span>
                </div>
            </div>
        </div>
        <div class="text-center">
            <input class="btn w-100 bg-register cursor-pointer" type="submit" value="Create Account">
        </div>
    </form>
    <hr>
    <div class="mb-3">
        Already have an account?
        <a href="{% url 'app_user:login' %}">Log In</a>
    </div>
</div>
{% endblock %}