{% extends 'layout.html' %}

{% block title %}<title>Edit Plan : {{ plan.title }}</title>{% endblock %}

{% block content %}
<nav class="nav nav-tabs my-1">
    <a href="#outline" class="nav-item nav-link active" data-toggle="tab" role="tab" id="outline-nav">Outline</a>

    <a href="#step" class="nav-item nav-link" data-toggle="tab"  role="tab" id="step-nav">Step</a>
</nav>
<form action="" method="post" class="mb-5" onsubmit="return newSubmit();">
    {% csrf_token %}
    <div class="tab-content">
        <div class="tab-pane fade show active" id="outline">
            <div class="border rounded p-3 form-group">
                <div class="d-flex flex-wrap form-group">
                    <input class="form-control text-center" value="Title" readonly>
                    <div class="flex-grow-1">
                        <input type="text" class="form-control text-center" name="title" placeholder="Title" value="{{ plan.title }}">
                    </div>
                </div>

                <div class="form-group">
                    <input class="form-control text-center" value="When" readonly>
                    <div class="d-flex flex-wrap">
                        <div class="flex-fill">
                            <input type="date" class="form-control" name="day_from" value="{{ plan.day_from|date:'Y-m-d' }}">
                        </div>
                        {% if plan.period > 1 %}
                        <div class="mx-1 my-auto">~</div>
                        <div class="flex-fill">
                            <input type="date" class="form-control bg-white" name="day_to" value="{{ plan.day_to|date:'Y-m-d' }}" readonly>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <input class="form-control text-center" value="Location" readonly>
                    <div class="flex-fill">
                        <input type="text" class="form-control text-center" name="where" placeholder="부산" value="{{ plan.where }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="step">
            <div id="contents">
                {% for days in plan.days_set.all %}
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control text-center" value="Day {{ forloop.counter }}" readonly>
                        <div class="input-group-append" id="{{ forloop.counter|add:-1}}">
                            <button type="button" class="btn bg-plus px-4 button{{forloop.counter|add:-1}}-p"><i class="fa fa-plus"></i></button>
                            <button type="button" class="btn bg-minus px-4 button{{forloop.counter|add:-1}}-m"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    {% for detail in days.detail_set.all %}
                    <div class="d-flex flex-wrap mt-1 input-group">
                        <div><input class="form-control" type="text" name="times{{forloop.counter|add:-1}}" placeholder="Time" value="{{ detail.times }}"></div>
                        <div class="flex-grow-1">
                            <input class="form-control" type="text" name="content{{forloop.counter|add:-1}}" placeholder="Content" value="{{ detail.content }}">
                        </div>
                        <div class="input-group-append">
                            <a href="{% url 'app_plan:delete_detail' plan.id days.id detail.id %}" class="btn bg-cancel button-d"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="field{{forloop.counter|add:-1}}">
                        <div class="d-flex flex-wrap mt-1">
                            <div><input class="form-control" type="text" name="times{{forloop.counter|add:-1}}" placeholder="Time"></div>
                            <div class="flex-grow-1">
                                <input class="form-control" type="text" name="content{{forloop.counter|add:-1}}" placeholder="Content">
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="d-flex flex-wrap form-group" style="margin-bottom: 30%;">
        <a href="{% url 'app_plan:router' %}" class="btn bg-login col-lg-2 text-dark button-prev">Prev</a>
        <input type="submit" class="btn bg-save col-lg-2 ml-auto" name="save" value="Save">
        <a href="{% url 'app_plan:index' %}" class="btn bg-cancel col-lg-2 button-prev">Cancel</a>
    </div>
</form>
{% endblock %}
