{% extends 'layout.html' %}

{% block title %}<title>Review : {{ plan.title }}</title>{% endblock %}

{% block content %}
<div class="large-view my-2">
    <span class="h2">New : </span><span class="h5">{{ plan.title }}</span>
</div>
<form action="" method="post" enctype="multipart/form-data" class="mb-5">
    {% csrf_token %}
    <div class="form-group border rounded p-3">
        <div class="d-flex flex-wrap form-group">
            <input type="text" class="form-control text-center" name="title" value="제목" readonly>
            <input type="text" class="form-control" name="title" placeholder="제목">
        </div>

        <div class="form-group">
            <input class="form-control text-center" value="Content" readonly>
            <textarea class="form-control" name="content"></textarea>
        </div>

        <div class="form-group">
            <div class="input-group mb-1">
                <input class="form-control text-center" value="Cost" readonly>
                <div class="input-group-append">
                    <button type="button" class="btn bg-plus px-4 button-cp"><i class="fa fa-plus"></i></button>
                    <button type="button" class="btn bg-minus px-4 button-cm"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="cost-field">
                <div class="d-flex flex-wrap mb-1">
                    <div class="input-group">
                        <div class="flex-fill"><input type="text" class="form-control" name="cost_content" placeholder="Content"></div>
                        <div><input type="number" class="form-control" name="cost" placeholder="0"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group mb-1">
                <input class="form-control text-center" value="Image" readonly>
                <div class="input-group-append">
                    <button type="button" class="btn bg-plus px-4 button-p"><i class="fa fa-plus"></i></button>
                    <button type="button" class="btn bg-minus px-4 button-m"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="field">
                <div class="mb-1">
                    <input type="file" name="image" class="form-control-file border rounded p-1 border-primary" accept="image/*" multiple>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-wrap">
        <input type="submit" class="btn ml-auto col-lg-2" value="Save">
        <a href="{% url 'app_review:index' %}" class="btn bg-cancel col-lg-2">Cancel</a>
    </div>
</form>
{% endblock %}