{% extends 'layout.html' %}

{% block title %}
<title>Writing in Board</title>
{% endblock %}

{% block content %}
<h2 class="pl-5 mt-5">Anything</h2>
<div class="m-0 alert pl-5" role="alert">{{message}}</div>
<div class="container large-view">
    <form action="" method="post" enctype="multipart/form-data" onsubmit="return titleCheck();">
        {% csrf_token %}
        <div class="border p-3">
            <div class="form-group">
                <label class="form-group-label font-weight-bold">Title</label>
                <input type="text" name="title" class="form-control title" value="{{ object.title }}">
            </div>
            <div class="form-group">
                <label class="form-group-label font-weight-bold">Text</label>
                <textarea name="text" class="form-control">{{ object.text }}</textarea>
            </div>
            <label class="form-group-label font-weight-bold">Attach File</label>
            <ul>
                {% for obj in object.attachment_set.all %}
                <li>
                    <a href="{{obj.file.url}}" onclick="return newWindow('{{ obj.file.url }}');">{{obj.filename}}</a>
                    <a href="{% url 'app_archive:delete_file' object.id obj.id %}" class="p-1 text-warning delete-button"><i class="fa fa-times"></i></a>
                </li>
                {% endfor %}
            </ul>
            <div class="attachment-field d-flex justify-content-around flex-wrap">
                <div class="form-group m-2">
                    <input type="file" name="attachment" class="form-control-file border rounded p-1 border-primary">
                </div>
            </div>
            <div class="d-flex row m-2">
                <button type="button" class="col-lg-2 btn rounded ml-auto m-1 attachment-add-button"><i class="fa fa-plus"></i></button>
                <button type="button" class="col-lg-2 btn rounded m-1 attachment-remove-button" style="background-color:rgba(205, 92, 92, 0.5);"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="d-flex m-3">
            <input class="btn ml-auto mr-1 my-1 col-lg-2" type="submit" value="Save">
            <a href="{% url 'app_archive:index' 1 %}" class="btn border text-dark col-lg-2 m-1" style="background-color:rgba(255, 64, 48, 0.3);">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}