{% extends 'layout.html' %}

{% block title %}<title>Edit Jeonghoon</title> {% endblock %}

{% block content %}
<nav class="nav nav-tabs">
    <a href="#me" class="nav-item nav-link active" role="tab" data-toggle="tab">Me</a>
    <a href="#school" class="nav-item nav-link" role="tab" data-toggle="tab">School</a>
    <a href="#other" class="nav-item nav-link" role="tab" data-toggle="tab">Other</a>
    <a href="#experience" class="nav-item nav-link" role="tab" data-toggle="tab">Experience</a>
</nav>
<div class="tab-content">
    <div class="tab-pane fade show active" id="me">
        <div class="border rounded p-3 my-3">
            <div class="d-flex flex-wrap mb-1">
                <span class="my-auto h5 pl-3">Personal Information</span>
            </div>
            <div class="d-flex flex-wrap mb-1">
                <div><input class="form-control text-center" value="Name" readonly></div>
                <div class="flex-fill">
                    <input type="text" class="form-control" name="name">
                </div>
            </div>
            <div class="d-flex flex-wrap mb-1">
                <div><input class="form-control text-center" value="Phone" readonly></div>
                <div class="flex-fill">
                    <input type="text" class="form-control" name="phone">
                </div>
            </div>
            <div class="d-flex flex-wrap mb-1">
                <div><input class="form-control text-center" value="Address" readonly></div>
                <div class="flex-fill">
                    <input type="text" class="form-control" name="address">
                </div>
            </div>
            <div class="d-flex flex-wrap mb-1">
                <div><input class="form-control text-center" value="E-Mail" readonly></div>
                <div class="flex-fill">
                    <input type="text" class="form-control" name="email">
                </div>
            </div>
            <div class="d-flex flex-wrap mb-1">
                <div><input class="form-control text-center" value="Status" readonly></div>
                <div class="flex-fill">
                    <input type="text" class="form-control" name="status">
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="school">
        <div class="border rounded p-3 my-3">
            <div class="d-flex flex-wrap mb-1">
                <span class="my-auto h5 pl-3">School Information</span>
                <div class="ml-auto">
                    <button type="button" class="btn btn-sm bg-plus px-4 button-school-p"><i class="fa fa-plus"></i></button>
                    <button type="button" class="btn btn-sm bg-minus px-4 button-school-m"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="d-flex mb-1">
                <div class="flex-fill"><input class="form-control text-center" value="Name" readonly></div>
                <div class="flex-fill"><input class="form-control text-center" value="From" readonly></div>
                <div class="flex-fill"><input class="form-control text-center" value="To" readonly></div>
                <div class="flex-fill"><input class="form-control text-center" value="Status" readonly></div>
            </div>
            <div class="d-flex mb-1">
                <div class="flex-fill"><input class="form-control text-center" name="school_name" placeholder="중학교"></div>
                <div class="flex-fill"><input type="text" class="form-control text-center" name="from"></div>
                <div class="flex-fill"><input type="text" class="form-control text-center" name="to"></div>
                <div class="flex-fill"><input class="form-control text-center" name="school_status"></div>
            </div>
            <div class="d-flex mb-1">
                <div class="flex-fill"><input class="form-control text-center" name="school_name" placeholder="고등학교"></div>
                <div class="flex-fill"><input type="text" class="form-control text-center" name="from"></div>
                <div class="flex-fill"><input type="text" class="form-control text-center" name="to"></div>
                <div class="flex-fill"><input class="form-control text-center" name="school_status"></div>
            </div>
            <div class="d-flex form-group">
                <div class="flex-fill"><input class="form-control text-center" name="school_name" placeholder="대학교"></div>
                <div class="flex-fill"><input type="text" class="form-control text-center" name="from"></div>
                <div class="flex-fill"><input type="text" class="form-control text-center" name="to"></div>
                <div class="flex-fill"><input class="form-control text-center" name="school_status"></div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="other">
        <div class="border rounded p-3 my-3">
            <div class="d-flex flex-wrap mb-1">
                <span class="my-auto h5 pl-3">병역</span>
            </div>
            <div class="d-flex mb-1">
                <div class="flex-fill"><input class="form-control text-center" value="군필 여부" readonly></div>
                <div class="flex-fill"><input class="form-control text-center" value="복무 기간" readonly></div>
                <div class="flex-fill"><input class="form-control text-center" value="군별" readonly></div>
                <div class="flex-fill"><input class="form-control text-center" value="병과" readonly></div>
                <div class="flex-fill"><input class="form-control text-center" value="계급" readonly></div>
            </div>
            <div class="d-flex form-group">
                <div class="flex-fill"><input class="form-control text-center" name="are_you"></div>
                <div class="flex-fill"><input class="form-control text-center" name="period"></div>
                <div class="flex-fill"><input type="text" class="form-control text-center" name="genre"></div>
                <div class="flex-fill"><input type="text" class="form-control text-center" name="work"></div>
                <div class="flex-fill"><input class="form-control text-center" name=""></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}